/**
 * Inlined (inlined.scss)
 *
 * - This CSS code will be inlined.
 * - Media queries will be grouped in the <head> of your email template.
 */

/* ----- Charset ----- */
@charset 'UTF-8';

/* ----- Variables ----- */
@import 'variables';

/* ----- Tools ----- */
@import 'tools/grid';

/* ----- Generic ----- */
@import 'generic/reset';
@import 'generic/typography';

/* ----- Objects ----- */
@import 'objects/grid';

/* ----- Utilities ----- */
@import 'utilities/alignment';
@import 'utilities/images';

/* ----- Components ----- */
@import 'components/preheader';
@import 'components/buttons';
@import 'components/hero';

.header-img {
  padding-left: 0!important;
  padding-right: 0!important;
}
.text-center {
  text-align: center;
}
.title {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: $main-txt-color;
  &.mt-35 {
    margin-top: 35px;
  }
  &.mt-30 {
    margin-top: 30px;
  }
  &.fz-20 {
    font-size: 20px;
  }
}
.divider {
  width: 211px;
  height: 2px;
  margin: 20px auto 25px;
  background: #ff5242;
  background-image: radial-gradient(circle 106px at center, #ff5242 0%, #ff841c 100%);
}
p {
  font-size: 18px;
  &.main-color {
    color: $main-color;
  }
  &.bold {
    font-weight: bold;
  }
  &.minus-mt {
    margin-top: 0;
  }
  b {
    font-weight: bold;
    &.extra-bold {
      font-weight: bolder;
      color: #000;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    }
  }
}
.link-inner-text {
  color: $main-txt-color;
  &.main-color {
    color: $main-color;
  }
}
.main-color {
  color: $main-color;
}
.bold {
  font-weight: bold;
}
.youproxy-registration-in-lk {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  &.no-padding {
    margin: 0;
  }
  li {
    margin-bottom: 3px;
    list-style: none;
    font-size: 18px;
    color: $main-txt-color
  }
  span {
    font-weight: bold;
  }
}
.link {
  text-align: center;
  a {
    width: 290px;
    height: 47px;
    background-image: url("../assets/link-bg.png");
    border-radius: 20px;
    margin: auto ;
    line-height: 47px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    &.mb-10 {
      margin-bottom: 10px;
    }
  }
}
.link-social {
  width: 430px;
  margin: 0 auto 20px;
  @media (max-width: $breakpoint-mobile) {
    width: 100%!important;
  }
}
.link-social__item {
  display: inline-block;
  vertical-align: middle;
  @media (max-width: $breakpoint-mobile) {
    display: block!important;
    text-align: center!important;
  }
  i {
    width: 20px;
    margin-right: 10px;
    display: inline-block;
    img {
      vertical-align: middle;
    }
  }
  &.big-width {
    width: 240px;
    @media (max-width: $breakpoint-mobile) {
      width: 100%!important;
    }
  }
  a {
    display: inline-block;
    color: $main-txt-color;
    text-decoration: none;
    text-align: center;
  }
}
.our-advantages {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #efefef;
}
.our-advantages__items {
  width: 480px;
  margin: auto;
  @media (max-width: $breakpoint-mobile) {
    width: 100%!important;
    text-align: center!important;
  }
}
.our-advantages__item {
  width: 125px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  @media (max-width: $breakpoint-mobile) {
    display: block!important;
    margin: 0 auto 20px!important;
    &.last {
      margin: 0 auto 0!important;
    }
  }
  p {
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  .bottom-text {
    font-size: 14px;
    color: #9d9d9d;
    line-height: 1.2;
    margin-top: 25px;
    text-align: center;
  }
}
.footer__brands {
  text-align: center;
  margin-bottom: 30px;
  img {
    font-size: 0;
    display: inline-block;
    margin-right: 30px;
    @media (max-width: $breakpoint-mobile) {
      display: block!important;
      margin: 0 auto 20px!important;
    }
    &.last {
      margin-right: 0;
    }
  }
}
.footer__nav {
  font-size: 14px;
  color: $main-txt-color;
  text-align: center;
  font-weight: bold;
  a {
    font-size: 14px;
    font-weight: bold;
    color: $main-txt-color;
    text-decoration: none;
  }
}